
<ion-header>
    <ion-toolbar  color="primary" class="user-profile">
            
      <ion-avatar slot="start" class="user-avatar">
        <img src="assets/img/avatar.jpeg">
    </ion-avatar>

    <div scrollX="true">
        <ion-buttons slot="start" >
                <ion-button href="/login">
                <ion-icon name="log-in" ></ion-icon>
              </ion-button>
              <ion-button >
                    <ion-icon name="arrow-round-back"></ion-icon>
                  </ion-button>
                  <ion-button >
                        <ion-icon name="arrow-round-back"></ion-icon>
                      </ion-button>
                      <ion-button >
                            <ion-icon name="arrow-round-back"></ion-icon>
                          </ion-button>
                
        
        <ion-button>
            <ion-icon name="home"></ion-icon>
            </ion-button>
        <ion-button>
        <ion-icon name="settings"></ion-icon>
        </ion-button>
        <ion-button>
                <ion-icon name="settings"></ion-icon>
                </ion-button>
                <ion-button>
                        <ion-icon name="settings"></ion-icon>
                        </ion-button>
                        <ion-button>
                                <ion-icon name="home"></ion-icon>
                                </ion-button>
                            
                                    <ion-button>
                                            <ion-icon name="home"></ion-icon>
                                            </ion-button>
                                       
                                                <ion-button>
                                                        <ion-icon name="home"></ion-icon>
                                                        </ion-button>
                                                   
        </ion-buttons>
    </div>
        
    

    </ion-toolbar>

    <!--<ion-toolbar color="dark">
        <ion-buttons slot="secondary">
          <ion-button>
            <ion-icon slot="icon-only" name="contact"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon slot="icon-only" name="search"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="primary">
          <ion-button color="secondary">
            <ion-icon slot="icon-only" name="more"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Default Buttons</ion-title>
      </ion-toolbar>

      <ion-toolbar >
        <ion-buttons >
          <ion-button  fill="solid">
            <ion-icon slot="start" name="contact"></ion-icon>
            Contact
          </ion-button>
        </ion-buttons>
        <ion-title slot="primary">Solid Buttons</ion-title>
        <ion-buttons slot="end">
          <ion-button fill="solid" color="secondary">
            Help
            <ion-icon slot="end"  name="help-circle"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>-->



  </ion-header>